sudo: True

language: python

branches:
    only:
        - master

matrix:
    include:
        - python: 3
          env: TOXENV=py3
        - python: 3.4
          env: TOXENV=py34
        - python: 3.5
          env: TOXENV=py35
        - python: 3.5
          env: TOXENV=flake8

install:
    - python3 -m pip install tox

script:
    - tox --skip-missing-interpreters
