include tests_requirements.txt
include *.rst
recursive-include docs *.rst conf.py
include LICENSE
include papas/*.py
recursive-include papas/papas_conf *
recursive-include papas/parsers *.py
recursive-include papas/graphs *.py
recursive-include papas/tasks_conf *
recursive-include papas/examples *
